@model Dictionary<string,string>

<footer>
    <div style="background-color: #f7f8fd;">
        <section id="section-subscription-footer">
            <div class="subsciption-footer mt-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-subscription mt-5">
                            <p>20% discount for your first order</p>
                            <h3>Join our newsletter and get...</h3>
                            <p class="second-text">
                                Join our email subscription now to get updates <br> on promotions and
                                coupons.
                            </p>
                            <div class="email-box-footer d-flex justify-content-between">
                                <div class="envelope-email-footer">
                                    <i class="fa-solid fa-envelope"></i>
                                    <input type="email" placeholder="Please enter your email">
                                </div>
                                <input type="button" value="Subscribe" class="subscribe-button">
                            </div>
                        </div>
                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/coupon.png" alt="" class="discount-pictures-footer d-lg-block d-sm-none">
                    </div>
                </div>
            </div>
        </section>
        <section id="advantges-company-footer">
            <div class="container advantage-height-footer pt-3">
                <div class="advantage-company-footer border-bottom">
                    <div class="row">
                        <div class="section-advantage col-lg-3 col-md-3">
                            <div class="row">
                                <div class="icon col-2"><i class="fa-solid fa-industry"></i></div>
                                <div class="text col-10">Every day Fresh Product</div>
                            </div>
                        </div>
                        <div class="section-advantage col-lg-3 col-md-3">
                            <div class="row">
                                <div class="icon col-2"><i class="fa-solid fa-truck"></i></div>
                                <div class="text col-10">Free Delivery for order 70$</div>
                            </div>
                        </div>
                        <div class="section-advantage col-lg-3 col-md-3">
                            <div class="row">
                                <div class="icon col-2"><i class="fa-solid fa-cookie"></i></div>
                                <div class="text col-10">Daily mega biscuits</div>
                            </div>
                        </div>
                        <div class="section-advantage col-lg-3 col-md-3">
                            <div class="row">
                                <div class="icon col-2"><i class="fa-brands fa-bitcoin"></i></div>
                                <div class="text col-10">Best Price on Market</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- Product List Footer -->
        <section id="product-list-footer">
            <div class="container">
                <div class="row">
                    <div class="custom-col-lg-5">
                        <h6>Fruits & Vegetables</h6>
                        <ul>
                            <li><a href="#">Fresh Vegetables</a></li>
                            <li><a href="#">Herbs & Seasonings</a></li>
                            <li><a href="#">Fresh Fruits</a></li>
                            <li><a href="#">Cuts & Sprouts</a></li>
                            <li><a href="#">Exotic Fruits & Veggies</a></li>
                            <li><a href="#">Exotic Fruits & Veggies</a></li>
                            <li><a href="#">Party Trays</a></li>
                        </ul>
                    </div>
                    <div class="custom-col-lg-5">
                        <h6>Breakfast & Dairy</h6>
                        <ul>
                            <li><a href="#">Milk & Flavoured Milk</a></li>
                            <li><a href="#">Butter and Margarine</a></li>
                            <li><a href="#">Cheese</a></li>
                            <li><a href="#">Eggs Substitutes</a></li>
                            <li><a href="#">Honey</a></li>
                            <li><a href="#">Marmalades</a></li>
                            <li><a href="#">Sour Cream and Dips</a></li>
                            <li><a href="#">Yogurt</a></li>
                        </ul>
                    </div>
                    <div class="custom-col-lg-5">
                        <h6>Meat & Seafood</h6>
                        <ul>
                            <li><a href="#">Breakfast Sausage</a></li>
                            <li><a href="#">Dinner Sausage</a></li>
                            <li><a href="#">Beef</a></li>
                            <li><a href="#">Chicken</a></li>
                            <li><a href="#">Sliced Deli Meta</a></li>
                            <li><a href="#">Shrimp</a></li>
                            <li><a href="#">Wild Caught Fillets</a></li>
                            <li><a href="#">Crab and Shellfish</a></li>
                            <li><a href="#">Farm Raised Fillets</a></li>
                        </ul>
                    </div>
                    <div class="custom-col-lg-5">
                        <h6>Beverages</h6>
                        <ul>
                            <li><a href="#">Water</a></li>
                            <li><a href="#">Sparkling Water</a></li>
                            <li><a href="#">Soda & Pop</a></li>
                            <li><a href="#">Cofee</a></li>
                            <li><a href="#">Milk & Plant-Based Pouches</a></li>
                            <li><a href="#">Craft Beer</a></li>
                            <li><a href="#">Wine</a></li>
                            <li><a href="#">Tea Kambucha</a></li>
                            <li><a href="#">Drink Boxes & Puches</a></li>
                        </ul>
                    </div>
                    <div class="custom-col-lg-5">
                        <h6>Breads & Bakery</h6>
                        <ul>
                            <li><a href="#">Milk & Flavoured Milk</a></li>
                            <li><a href="#">Buuter and Margarine</a></li>
                            <li><a href="#">Cheese</a></li>
                            <li><a href="#">Eggs Substitutes</a></li>
                            <li><a href="#">Honey</a></li>
                            <li><a href="#">Marmaleds</a></li>
                            <li><a href="#">Sour Cream and Dips</a></li>
                            <li><a href="#">Yogurt</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <!-- Contact App Links -->
    <section id="contact-app-links">
        <div class="container mt-4 border-bottom pb-3">
            <div class="row">
                <div class="col-lg-5 d-flex justify-content-lg-start phone-footer">
                    <div class="phone-icon mt-3">
                        <i class="fa-solid fa-phone fa-2x"></i>
                    </div>
                    <div class="phone-detail mx-3">
                        <h4>8 880 555-55</h4>
                        <span>Working 8:00 - 22:00</span>
                    </div>
                </div>
                <div class="col-lg-2 download-app-footer text-lg-end mt-2">
                    <h6>Download app on mobile:</h6>
                    <span>15% discount on your first purchase</span>
                </div>
                <div class="col-lg-4 software-media-footer">
                    <div class="row">
                        <div class="col-lg-8 mt-2 software-footer">
                            <a href="#">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/google-play.png" alt="">
                            </a>
                            <a href="#">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/app-store.png" alt="">
                            </a>
                        </div>
                        <div class="col-lg-4 mt-2 social-media-footer">
                            <a href="https://www.facebook.com/">
                                <i class="fa-brands fa-facebook fa-2x"></i>
                            </a>
                            <a href="https://twitter.com/?lang=en">
                                <i class="fa-brands fa-twitter fa-2x"></i>
                            </a>
                            <a href="https://www.instagram.com/">
                                <i class="fa-brands fa-instagram fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Copyright Policy Payment -->
    <section id="copyright-policy-payment-footer">
        <div class="container mt-3 copyright-footer">
            <div class="row">
                <div class="col-lg-5">
                    <p>Copyright 2022 © Bacola WordPress Theme. All rights reserved. Powered by KlbTheme.</p>
                </div>
                <div class="col-lg-3 terms-footer">
                    <a href="#"> Privacy Policy &nbsp; </a>
                    <a href="#">Terms and Conditions &nbsp;</a>
                    <a href="#">Cookie</a>
                </div>
                <div class="col-lg-3 payment text-lg-center">
                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/payments.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
</footer>